

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets it√©rables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

In [4]:
 ma_liste = list()

#### **Exercice 00:** 
>**D√©clarer une liste vide.**

In [2]:
l=['a','b','c']
l

['a', 'b', 'c']

#### **Exercice 01:** 
>**D√©clarer une liste de plus de 5 √©l√©ments.**

In [5]:
x=[0,1,2,3,4]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [6]:
print(len(x))

5

#### **Exercice 03:** 
>**Obtenez le premier √©l√©ment, l'√©l√©ment central et le dernier √©l√©ment de la liste.**

In [7]:
print(x[0])

0

In [7]:
print(x[-1])

4

#### **Exercice 04:** 
>**D√©clarez une liste appel√©e mixed_data_types, mettez votre (nom, √¢ge, taille, √©tat civil, adresse).**

In [8]:
mixed_data_types=["mame",25,75,"s√©n√©gal","dakar"]

#### **Exercice 05:** 

    1. D√©clarez une variable liste appel√©e it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste √† l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la premi√®re, la moyenne et la derni√®re entreprise

    5. Imprimez la liste apr√®s avoir modifi√© l'une des entreprises.

    6. Ajout d'une entreprise informatique √† it_companies

    7. Ins√©rer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une cha√Æne '# ; '.

    10. V√©rifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la m√©thode sort()

    12. Inversez la liste par ordre d√©croissant √† l'aide de la m√©thode reverse().

    13. Supprimez les 3 premi√®res entreprises de la liste.

    14. Supprimez les 3 derni√®res entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la premi√®re entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la derni√®re entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. D√©truire la liste des entreprises informatiques

In [133]:
it_companies=['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [134]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [135]:
print(len(it_companies))

7

In [136]:
print(it_companies[0])

Facebook

In [138]:
print(it_companies[: : 2])

['Facebook', 'Microsoft', 'IBM', 'Amazon']

In [139]:
print(it_companies[-1])

Amazon

In [140]:
it_companies[0]='Instagram'

In [141]:
print(it_companies)

['Instagram', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [142]:
it_companies.append('youtube')

In [143]:
print(it_companies)

['Instagram', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'youtube']

In [144]:
it_companies.upper()

AttributeError: 'list' object has no attribute 'upper'

In [145]:
#it_companies=':'.join(it_companies)

In [146]:
#print(it_companies)

In [147]:
print('Google' in it_companies)

True

In [148]:
print('IBM' in it_companies)

True

In [149]:
 it_companies.sort()

In [150]:
print(it_companies)

['Amazon', 'Apple', 'Google', 'IBM', 'Instagram', 'Microsoft', 'Oracle', 'youtube']

In [151]:
it_companies.reverse()

In [152]:
print(it_companies)

['youtube', 'Oracle', 'Microsoft', 'Instagram', 'IBM', 'Google', 'Apple', 'Amazon']

In [158]:
it_companies.remove(it_companies[0])

In [159]:
print(it_companies)

['Microsoft', 'Instagram', 'IBM', 'Google', 'Apple', 'Amazon']

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [161]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux'] 
back_end = ['Node','Express', 'MongoDB']
front_end +  back_end

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 √¢ges d'√©tudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'√¢ge minimum et maximum.
    2. Ajoutez √† nouveau l'√¢ge minimum et l'√¢ge maximum √† la liste.
    3. Trouvez l'√¢ge m√©dian (un √©l√©ment du milieu ou deux √©l√©ments du milieu divis√©s par deux).
    4. Trouvez l'√¢ge moyen (somme de tous les √©l√©ments divis√©e par leur nombre).
    4. Trouver l'intervalle des √¢ges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la m√©thode abs().

In [1]:
 ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [2]:
 ages.sort()

In [3]:
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [4]:
ages.insert(0,18)

In [5]:
print(ages)

[18, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [12]:
ages.insert(-1,27)

In [13]:
print(ages)

[18, 27, 27, 19, 19, 20, 22, 24, 24, 24, 25, 25, 27, 27, 26]

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Cr√©er un dictionnaire vide appel√© `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'√¢ge au dictionnaire dog.
3. Cr√©ez un dictionnaire student et ajoutez le pr√©nom, le nom, le sexe, l'√¢ge, l'√©tat civil, les comp√©tences, le pays, la ville et l'adresse comme cl√©s pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. R√©cup√©rez la valeur des comp√©tences et v√©rifiez le type de donn√©es, il doit s'agir d'une liste.
6. Modifiez les valeurs des comp√©tences en ajoutant une ou deux comp√©tences.
7. Obtenez les cl√©s du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la m√©thode items()
10. Supprimer un des √©l√©ments du dictionnaire
11. Supprimer un des dictionnaires

In [1]:
dog={}

In [2]:
dog["nom"] = "mame"
dog["couleur"] = "blanc" 
dog["race"] = "noir"
dog["pattes"] = "jambe"
dog["comp√©tences"] = 19

In [3]:
dog

{'nom': 'mame',
 'couleur': 'blanc',
 'race': 'noir',
 'pattes': 'jambe',
 'age': 19}

In [19]:
student={}

In [20]:
student["prenom"] = "mame"
student["nom"] = "diouf"
student["sexe"] = "f" 
student["age"] = 19
student["l'√©tat civil"] = "dakar"
student["competence"] = ["organis√©","polyvalence","adpter"]
student["pays"] = "senegal"
student["ville"]= "dakar"
student["addresse"] = "pikine"

In [21]:
print(student)

{'prenom': 'mame', 'nom': 'diouf', 'sexe': 'f', 'age': 19, "l'√©tat civil": 'dakar', 'competence': ['organis√©', 'polyvalence', 'adpter'], 'pays': 'senegal', 'ville': 'dakar', 'addresse': 'pikine'}

In [22]:
len(student)

9

In [23]:
student["competence"]

['organis√©', 'polyvalence', 'adpter']

In [24]:
type(student["competence"])

list

In [28]:
student["competence"].append("tavail d'equipe")

In [29]:
student["competence"]

['organis√©', 'polyvalence', 'adpter', "tavail d'equipe", "tavail d'equipe"]

In [30]:
student.keys()

dict_keys(['prenom', 'nom', 'sexe', 'age', "l'√©tat civil", 'competence', 'pays', 'ville', 'addresse'])

In [31]:
student.values()

dict_values(['mame', 'diouf', 'f', 19, 'dakar', ['organis√©', 'polyvalence', 'adpter', "tavail d'equipe", "tavail d'equipe"], 'senegal', 'dakar', 'pikine'])

In [32]:
student.items()

dict_items([('prenom', 'mame'), ('nom', 'diouf'), ('sexe', 'f'), ('age', 19), ("l'√©tat civil", 'dakar'), ('competence', ['organis√©', 'polyvalence', 'adpter', "tavail d'equipe", "tavail d'equipe"]), ('pays', 'senegal'), ('ville', 'dakar'), ('addresse', 'pikine')])

In [34]:
del student["ville"]

In [35]:
print(student)

{'prenom': 'mame', 'nom': 'diouf', 'sexe': 'f', 'age': 19, "l'√©tat civil": 'dakar', 'competence': ['organis√©', 'polyvalence', 'adpter', "tavail d'equipe", "tavail d'equipe"], 'pays': 'senegal', 'addresse': 'pikine'}

<center> <b> <span style="color:orange;"> üéâ F√âLICITATIONS ! / CONGRATULATIONS !üéâ </span> </b></center>