In [35]:
#1. Compute the following expressions for a natural number n chosen by the user:
# (i)
n= int(input("donne un entier > :"))
s=0
for i in range(n):
    s=s+(i+3)
    print(i,s)

donne un entier > :7
0 3
1 7
2 12
3 18
4 25
5 33
6 42

In [3]:
# (ii)

n= int(input("donne un entier > :"))
p=1
for i in range(n):
    p=p*(i+3)
    print(i,p)

donne un entier > :4
0 3
1 12
2 60
3 360

In [23]:
# 2)    
semaine=["lundi","mardi","mercredi","jeudi","vendredi","samedi","dimenche"]
for i in semaine:
    if i=="samedi":
        print("week-end")
    elif i=="dimenche":
        print("week-end")
    else:
        print(i)

lundi
mardi
mercredi
jeudi
vendredi
week-end
week-end

In [29]:
# 3)
semaine=["lundi","mardi","mercredi","jeudi","vendredi","samedi","dimenche"]
for i in semaine:
    if i in ["lundi","mardi","mercredi","jeudi","vendredi"]:
        print(i)
    else:
        print("week-end")

lundi
mardi
mercredi
jeudi
vendredi
week-end
week-end

In [33]:
# 4)
i=0
for i in range(3):
    print("mame")

mame
mame
mame

In [34]:
i=0
while i in range(3):
    print("mame")
    i=i+1

mame
mame
mame

In [45]:
# 5)
a_0=0
a_1=1
print(0,a_0)
print(1,a_1)
for i in range(2,15):
    a=a_0+a_1
    a_0=a_1
    a_1=a
    print(i,a)

0 0
1 1
2 1
3 2
4 3
5 5
6 8
7 13
8 21
9 34
10 55
11 89
12 144
13 233
14 377

In [47]:
# 6)
x_0=0
x_1=1
print(0,x_0)
print(1,x_1)
for i in range(2,30):
    x=(x_1+6*x_0)/2
    x_0=x_1
    x_1=x
    print(i,x)

0 0
1 1
2 0.5
3 3.25
4 3.125
5 11.3125
6 15.03125
7 41.453125
8 65.8203125
9 157.26953125
10 276.095703125
11 609.8564453125
12 1133.21533203125
13 2396.177001953125
14 4597.7344970703125
15 9487.398254394531
16 18536.902618408203
17 37730.646072387695
18 74476.03089141846
19 150429.9536628723
20 298643.0695056915
21 600611.3957414627
22 1196234.906387806
23 2399951.640418291
24 4788680.539372563
25 9594195.190941155
26 19163139.213588268
27 38364155.1796176
28 76671495.2305736
29 153428213.15413958

In [52]:
# 7)
# a)
def type_année(N) :
    if (N % 4 == 0 and N % 100 !=0 ) or (N % 400 == 0):
        print(N,"année bissextile")
    else:
        print(N, "année non bissextile")
type_année(2021) 
type_année(2020)

2021 année non bissextile
2020 année bissextile

In [54]:
# 8)
n= int(input("donne un entier > :"))
s=0
for i in range(n):
    s=s+i**2
    print(i,s)

donne un entier > :12
0 0
1 1
2 5
3 14
4 30
5 55
6 91
7 140
8 204
9 285
10 385
11 506

In [55]:
# 8)
n= int(input("donne un entier > :"))
s=0
i=0
while i in range(n):
    s=s+i**2
    print(i,s)
    i=i+1

donne un entier > :10
0 0
1 1
2 5
3 14
4 30
5 55
6 91
7 140
8 204
9 285

In [63]:
n= int(input("donne un entier > :"))
m= int
s=0
for i in range(1, n+1):
    s=s+i**2
    for (s >=m):
        print(m)

SyntaxError: invalid syntax (<ipython-input-63-29cf5e4651ea>, line 6)